<h1>Editing geolocations</h1>

<%= render "form", geolocation: @geolocation %>

<br>

<div>
  <%= link_to "Show this geolocation", @geolocation %> |
  <%= link_to "Back to geolocations", geolocations_path %>
</div>
